<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>What is the color?</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="column">
                <div class="tile is-ancestor">
                    <!--Player Card Scoreboard-->
                    <div class="tile is-3">
                        <div class="card">
                            <div class="card-scoreboard">
                                <div class="scoreboard">
                                    <p class="has-text-centered is-size-1">
                                        <strong>88</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://bulma.io/images/placeholders/96x96.png"
                                                alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Hawk Kim</p>
                                        <p class="subtitle is-6">Player 1</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Player Card Scoreboard-->
                    <div class="tile is-3">
                        <div class="card">
                            <div class="card-scoreboard">
                                <div class="scoreboard">
                                    <p class="has-text-centered is-size-1">
                                        <strong>88</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://bulma.io/images/placeholders/96x96.png"
                                                alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Ridwan</p>
                                        <p class="subtitle is-6">Player 2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Player Card Scoreboard-->
                    <div class="tile is-3">
                        <div class="card">
                            <div class="card-scoreboard">
                                <div class="scoreboard">
                                    <p class="has-text-centered is-size-1">
                                        <strong>88</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://bulma.io/images/placeholders/96x96.png"
                                                alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Enrico</p>
                                        <p class="subtitle is-6">Player 3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Player Card Scoreboard-->
                    <div class="tile is-3">
                        <div class="card">
                            <div class="card-scoreboard">
                                <div class="scoreboard">
                                    <p class="has-text-centered is-size-1">
                                        <strong>88</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://bulma.io/images/placeholders/96x96.png"
                                                alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Albar</p>
                                        <p class="subtitle is-6">Player 4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="player">
                            <div class="card">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="box has-text-centered question-box">
                        <p class="is-size-1" style="color: red;">
                            Blue
                        </p>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="box option-box1">
                                <p class="has-text-white has-text-centered text-on-box-option">
                                    Red
                                </p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box option-box2">
                                <p class="has-text-white has-text-centered text-on-box-option">
                                    Blue
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>